<ion-header>
  <ion-toolbar>
    <ion-title>Mensaje PIXEL LINK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="conectar()">Conectar PIXEL LINK</ion-button>

  <ion-item>
    <ion-input
      label="Mensaje"
      labelPlacement="stacked"
      [(ngModel)]="mensaje"
      placeholder="Escribe algo...">
    </ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="enviar()" [disabled]="!conectado">
    Enviar
  </ion-button>

  <p>Estado: {{ estado }}</p>
</ion-content>